.select {
	@apply py-1 px-2 hover:bg-primary hover:text-white cursor-pointer rounded hover:w-auto;
}
.bookSelect {
	@apply py-1 mt-1 px-2 hover:bg-primary hover:text-white cursor-pointer rounded lg:w-5/12 sm:w-10/12;
}

.active {
	@apply py-1 px-2 bg-primary text-white cursor-pointer rounded sm:w-10/12 lg:w-5/12;
}
