@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Inter';
	src: url('../renderer/src/assets/fonts/Inter/Inter-Medium.ttf'),
		url('../renderer/src/assets/fonts/Inter/Inter-Regular.ttf'),
		url('../renderer/src/assets/fonts/Inter/Inter-SemiBold.ttf'),
		url('../renderer/src/assets/fonts/Inter/Inter-Thin.ttf'),
		url('../renderer/src/assets/fonts/Inter/Inter-Light.ttf'),
		url('../renderer/src/assets/fonts/Inter/Inter-ExtraLight.ttf');
	font-weight: 100 500;
}

/* Chrome, Safari and Opera */
.no-scrollbars::-webkit-scrollbar {
	display: none;
}

.no-scrollbars {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

#content {
	@apply rounded-sm overflow-hidden;
}
/* .section {
  @apply border-2 border-black text-sm rounded-sm overflow-hidden;
} */

/* .section > .section-heading {
	@apply hidden;
} */

.perf .title .section,
.perf .heading .section,
.sectionBody .paragraph {
	@apply mx-3;
}

.perf .title .section,
.perf .heading .section {
	@apply flex items-center;
}

.editor {
	@apply my-2;
}

/* .sectionHeading> .expand {
	@apply w-20 text-right uppercase tracking-wider text-xs font-semibold after:content-['_:'];
} */

.title .mt,
.heading .ms {
	@apply uppercase text-lg tracking-wider text-primary;
}

.editor *[contenteditable='true']:focus {
	@apply bg-primary-50 outline-none rounded-sm;
}

.mark.chapter {
	@apply border-b mb-2 pb-1 uppercase tracking-wider font-semibold break-before-column block before:content-['Chapter_:_'];
}

p.paragraph:has(.chapter) {
	@apply mt-2;
}

.mark.verse {
	@apply text-xs mr-1 text-primary font-semibold;
}

.major-title,
.major-secondary-heading {
	@apply text-primary;
}

.graft {
	@apply text-primary text-sm align-super;
}

.perf .footnote:before {
	@apply cursor-pointer font-semibold;
	content: ' ‡';
}
.perf .xref:before {
	@apply cursor-pointer font-semibold;
	content: ' x';
}

.perf .xq {
	@apply text-primary text-sm;
}

.perf .verse:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	content: ' ' attr(data-atts-number);
}
.perf .verse {
	visibility: hidden;
	position: relative;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* html {
  background-color: lightgray;
}

.App {
  font-family: sans-serif;
}

#offset {
  min-height: 4em;
}

.MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid darkgray;
}

.perf div.graft:before {
  content: "Click to Edit";
  visibility: hidden;
  opacity: 0;
  font-size: 0.9rem;
  font-weight: normal;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}

.perf div.graft:hover:before {
  opacity: 1;
  visibility: visible;
}

.perf div.graft:after {
  content: " " attr(data-previewText);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-decoration: underline wavy lightgray;
  padding-bottom: 0.1em;
}

.perf .preview {
  counter-reset: graft;
}

.perf .preview span.graft:after {
  counter-increment: graft;
  content: " " counter(graft, lower-alpha);
  text-decoration: underline wavy darkgray;
}

.perf span.graft:after {
  content: " " attr(data-previewtext);
  text-decoration: underline wavy lightgray;
}

.perf .preview span.graft:before,
.perf span.graft:before {
  content: "Click to edit ~> " attr(data-previewtext);
  visibility: hidden;
  opacity: 0;
  font-size: 0.9rem;
  font-weight: normal;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 0);
}

.perf .preview span.graft:hover:before,
.perf span.graft:hover:before {
  opacity: 1;
  visibility: visible;
}

.perf .introduction,
.perf div[sequencetype="introduction"] .block {
  font-size: 1.1rem;
  margin: 0.5em 0em;
  text-align: unset;
}

.perf .heading,
.perf div[sequencetype="heading"] .block {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 0.5em 0.2em 0.25em;
}

.perf .title,
.perf div[sequencetype="title"] .block {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5em 0;
}

.perf .title .title .heading {
  font-size: 3rem;
}

.perf .heading.s {
  font-size: 1.2rem;
}

.perf .heading.r {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.25em 0.2em;
}

.perf #sequence .heading#sequence,
.perf #sequence .heading#sequence .block {
  padding: 0;
}

.perf .sectionBody .sectionBody {
  padding-top: 0;
  padding-bottom: 0;
}

.perf .PerfEditorWrapper {
  margin: 0.1em;
} */
